@import './layout/header.scss';
@import './layout/footer.scss';


@import './pages/index.scss';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Bruno Ace SC', cursive;
    line-height: 1.5;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
}
body a{
    display: block;
    text-decoration: none;
}
body a:hover{
    color: rgba(0, 255, 163, 1) !important;
}
.fs-128{
    font-size: 128px;
}
.fs-64{
    font-size: 64px;
}
.fs-24{
    font-size: 24px;
}
.fs-20{
    font-size: 20px;
}
.fs-16{
    font-size: 16px;
}
.text-align-c{
    text-align: center;
}
.text-align-r{
    text-align: right;
}
.d-flex{
    display: flex;
}
.fdcol{
    flex-direction: column;
}
.jcsb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.p-16{
    padding: 16px;
}
.py-160{
    padding: 160px 0;
}
.py-96{
    padding: 96px 0;
}
.py-72{
    padding: 72px 0;
}
.py-40{
    padding: 40px 0;
}
.pt-40{
    padding-top: 40px;
}
.pb-36{
    padding-bottom: 36px;
}
.pb-32{
    padding-bottom: 32px;
}
.mb-36{
    margin-bottom: 36px;
}
.mb-28{
    margin-bottom: 28px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-4{
    margin-bottom: 4px;
}